@font-face {
  font-family: JuliaMono;
  src: local("JuliaMono"),
    url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2");
}

html.theme--documenter-dark pre,
html.theme--documenter-dark code {
  font-family: "Consolas";
}
html.theme--documenter-light pre,
html.theme--documenter-light code {
  font-family: "Consolas";
}